:root {
	--color-text: #684630;
	--color-box-bg: rgb(235, 225, 221);
	--color-highlight: #a47473;
	--color-bg: var(--color-highlight);
}

@font-face {
	font-family: Cozette;
	src: url('/fonts/CozetteVector.ttf');
}

* {
	font-family: Cozette;
	color: var(--color-text);
}

a {
	font-style: italic;
	color: var(--color-highlight);
	text-decoration: none;
}

body {
	background-color: var(--color-bg);
}

.all {
	padding: 50px;
	width: 40%;
	height: 60%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
}

@media screen and (max-width: 800px) {
	* {
		box-sizing: border-box;
	}
	html, body {
		min-height: 100vh;
		display: flex;
		margin: 0;
		padding: 0;
        overflow: hidden;
	}
	.all {
		min-width: 100%;
		min-height: 100%;
		flex-flow: column nowrap;
	}

	.left {
		flex-direction: column;
		align-items: center;
	}

	.topleft {
		width: 100%;
	}

	.bottomleft {
		min-width: 100%;
	}

	.right {
		flex-direction: column;
		width: 100%;
	}

	.topright {
		flex: 0 1;
	}
	.bottomright {
		flex: 0 0 !important;
	}
}

.left {
	flex: 1 0 50%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.right {
	flex: 1 0 50%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow-y: scroll;
}

.topleft {
	display: flex;
	flex: 1;
}
.bottomleft {
	display: flex;
	flex: 0 0;
}
.topright {
	flex: 0 1 20%;
	display: flex;
}
.bottomright {
	flex: 1 1;
	display: flex;
}
