@font-face {
  font-family: Cozette;
  src: url("../assets/fonts/CozetteVector.ttf");
}

/* color palette */
:root {
  --color-text: #684630;
  --color-box-bg: rgb(235, 225, 221);
  --color-highlight: #a47473;
  --color-bg: var(--color-highlight);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  margin: 0;
  color: var(--color-text);
  overflow: hidden;
  background: var(--color-bg);
  font-family: Cozette, sans-serif;
  font-size: 15px;
}
